*{
    font-family: kaisotai;
}
@font-face {
    font-family: kaisotai;
    src: url(Kaisotai-Next-UP-B.otf);
 }
 hr{
  margin : 0px;
  border-color: #666;
 }
html, body{
    margin:0px;
    padding:0px;
    width:100%;
    font-size:25px;
  }
  div, p, h1, h2, h3, h4, h5, ul, li, a, span{
    margin:0px;
    padding:0px;
  }
  .clear{
    clear:both;
  }
  #conteneur-id{
    width:100%;
  }
  /*MENU*/
  .menu{
    width:100%;
    background-color: #4f4a67;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
    margin:auto;
    text-align:center;
    position:fixed;
    z-index:999;
  }
  .menu ul{
    width:100%;
    margin:auto;
    padding:15px 0px;
  }
  .menu li{
    display:inline-block;
    padding:5px;
  }
  .menu a{
    text-decoration:none;
    color:#ffc328;
    transition:0.4s;
    padding:5px 25px;
    margin : auto;
  }
  .menu a:hover{
    text-decoration:none;
    color:white;
    transition:0.4s;
  }
  /*HOME*/
  #conteneur-home{
    width:100%;
    background-image:url(/image/header_bg.png) fixed 100% no-repeat;
    background-size:cover;
    padding:159.5px 0px 100px 0px;
    text-align:center;
    text-shadow: 0px 0px 15px rgba(255, 0, 246, 1);
  }
  .home{
    width:100%;
  }
  .home h1{
    font-weight:100;
    font-size:60px;
    color:#EEE;
    padding:0px 0px 5px 0px;
  }
  .home h2{
    font-weight:100;
    font-size:40px;
    color:#DDD;
    text-transform:uppercase;
  }
  /*ABOUT*/
  #conteneur-about{
    padding:80px 20px;
    background-color: #18191a;
  }
  .about{
    max-width:960px;
    width:100%;
    margin:auto;
  }
  .profil-photo{
    width:50%;
    float:left;
  }
  .profil-photo img{
    width:55%;
    border-radius: 50%;
    border: 6px solid #4f4a67;
  }
  .profil-text{
    width:100%;
    float:left;
    position:relative;
    height : 40%
  }
  .profil-text h2{
    font-size:40px;
    font-weight:100;
    text-transform:uppercase;  
    color: #ffc328;
    padding: 15px;
  }
  .profil-text p{
  padding-bottom:75px;
  text-align:justify;
  color:white;
  padding: 15px;
  }
  .profil-text a{
    position: absolute;
    text-decoration:none;
    color:#ffc328;
    background-color:#3c384f;
    transition:0.4s;
    padding:5px 20px;
    margin : 40px 15px;
   }
  .profil-text a:hover{
    text-decoration:none;
    color:white;
    background-color:#4f4a67;
    transition:0.4s;
  }
  /*SKILLS*/
  #conteneur-skills{
    padding:80px 0px;
    background-color:#18191a;
  }
  .skills{
    max-width:960px;
    width:100%;
    margin:auto;
  }
  .title h2{
    padding-bottom:25px;
    font-size:40px;
    font-weight:100;
    text-align:center;
    text-transform:uppercase;
    color : #ffc328;
  }
  .bardiv{
    width:100%;
    margin:auto;
  }
  .bardiv h3{
    font-size:30px;
    color : white;
    padding-bottom:5px;
  }
  .progressbar{
    width:100%;
    margin:auto;
    height:5px;
    background-color:#AAA;
    position:relative;
    margin-bottom:15px;
  }
  .progressbar span{
    height:5px;
    background-color:#ffc328;
    z-index:888;
    position:absolute;
    top:0px;
    left:0px;
  }
  .pts{
    width:70%;
  }
  .ai{
    width:55%;
  }
  .figma{
    width:65%;
  }
  .html_css_js{
    width:70%;
  }
  .teamwork {
    width :75%;
  }
  /*DIPLOMA*/
  #conteneur-experience{
    padding:80px 0px;
    background-color: #18191a;
  }
  .experience{
    max-width:960px;
    width:100%;
    margin:auto;
    text-align:center;
  }
  .experience h2{
    padding-bottom:50px;
    font-size:40px;
    font-weight:100;
    text-transform:uppercase;
    color: #ffc328;
  }
  .myexperience{
    padding-left:25px;
    padding-bottom:25px;
    color: white;
  }
  .myexperience h3{
    font-size:35px;
    padding-bottom:5px;
    font-weight:100;
  }
  /*project*/
  #conteneur-project{
    padding:80px 0px;
    background-color:#18191a;
  }
  .project{
    max-width:960px;
    width:100%;
    margin:auto;
    text-align:center;
  }
  .project h2{
    padding-bottom:50px;
    font-size:40px;
    font-weight:100;
    text-transform:uppercase;
    color: #ffc328;
  }
  .conteneur-project h2{
    padding-bottom:100px;
    font-size:80px;
    color:#000;
    text-align:center;
  }
  .conteneur-miniature{
    box-shadow:0 0 20px 1px rgba(0,0,0,1);
    transition:.4s;
    width:47.5%;
    margin-right:2.5%;
    margin-bottom: 2.5%;
    float:inline-start;
  }
  .miniature-project{
    width:100%;
    height:250px;
  }
  .oneport{
    background-image:url(/image/Project01.png);
    background-size:cover;
  }
  .twoport{
    background-image:url(/image/Project02.png);
    background-size:cover;
  }
  .threeport{
    background-image:url(/image/Project03.png);
    background-size:cover;
  }
  .text-miniature{
    padding:15px 30px 15px 15px;
    background-color: #3c384f;
  }
  .text-miniature h3{
    font-size:35px;
    padding-bottom:10px;
    font-weight:100;
    color: #ffc328;
  }
  .text-miniature h4{
    font-size:25px;
    color:white;
    line-height:25px;
    font-weight:100;
  }
  .text-miniature h5{
    font-size:20px;
    color: #ffc328;
    line-height:20px;
    font-weight:100;
    padding-top: 15px;
  }
  .conteneur-miniature-one:hover{
    box-shadow:0 0 20px 1px rgba(0,0,0,0.75);
    transition:.4s;
  }
  /*CONTACT*/
  #conteneur-contact{
    padding:80px 0px;
    background:url(https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?w=1867&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) fixed 100% no-repeat;
    background-size:cover;
  }
  .contact{
    max-width:660px;
    width:100%;
    margin:auto;
    text-align:center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }
  .contact h2{
    padding-bottom:50px;
    font-size:40px;
    font-weight:100;
    text-transform:uppercase;
    color:#ffc328;
  }
  .contact h3{
    color:#fff;
    font-size:30px;
    text-align:center;
  }
  #conteneur-footer{
    padding:20px 0px;
    background-color:#3c384f;
  }
